<%= form_for @forum_thread do |form| %>
  <div class="form-group">
    <%= form.text_field :subject, placeholder: "Subject", class: "form-control" %>
  </div>

  <%= form.fields_for :forum_posts do |post| %>
    <div class="form-group">
      <%= post.text_area :body, placeholder: "Add a comment", class: "form-control" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>