<nav class="border-bottom py-3 mb-4 bg-light">
  <div class="container d-flex justify-content-between align-items-center">
    <div>
      <%= link_to "Upscale Forum", root_url, class: "fs-4 fw-bold no-decoration text-dark me-5" %>
      <%= link_to "Threads", forum_threads_path, class: "no-decoration text-muted" %>
    </div>
    <nav class="d-flex">
        <% if user_signed_in? %>
          <%= link_to "Account", edit_user_registration_path, class: "me-4 no-decoration text-muted" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "no-decoration text-muted" %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "me-5 no-decoration text-muted" %>
          <%= link_to "Login", new_user_session_path, class: "no-decoration text-muted" %>
        <% end %>
    </nav>
  </div>
</nav>